:root {
  --PrimaryColor: #0078D7; /* Change of your choice */
  --PrimaryColorLight: #60CDFF; /* Lighter version of --PrimaryColor for DarkMode */
}
body {
  font-family: "Segoe UI";
}

[data-theme="dark"] ::selection {
  background-color: #2E517E;
}

/* localize the official theme-switch label (official content hooks) */
input+.app-navbar-theme-switch-icon::after { content: "昼间模式"; }
input:checked+.app-navbar-theme-switch-icon::after { content: "夜间模式"; }